<div class="form-image">
    <div class="l-image" style="margin-top: 5%;">
        <img src="../assets/img/4x/its-surabaya.png" width="75%" style="display: block; margin-left: auto; margin-right: auto;"></img>
        <h1 style="text-align: center;">Open Source COVID-19 Dashboard</h1>
        <p style="text-align: center;">Membantu dokter agar dapat memastikan pasien COVID-19 mendapatkan treatment yang sesuai dan meminimalisir tingkat kematian akibat penyakit tersebut.</p>
        <p style="text-align: center;">Untuk bantuan installasi di kabupaten ataupun provinsi anda, hubungi kami <strong style="color: green;">085899731884</strong></p>
        <div style="margin: auto;">
            <br>
            <h5>Didukung Oleh: </h5>
            <!-- <img src="../assets/img/4x/its-surabaya.png" style="width:20%;margin-left:37px" >                 -->
            <img src="../assets/img/4x/TF.png" style="width:15%;margin-left:107px" >     
            <!-- <h2>Puslit IoT ITS</h2>                               -->
            <img src="../assets/img/4x/Puslit_ITS.png" style="width:20%;margin-left:67px" >                                              
            <img src="../assets/img/4x/logo_vibrastik.png" style="width:15%;margin-left:67px" >
        </div>
    </div>
</div>